<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= titlePage %>
    </title>
    <% if (locals.css) { %>
        <% for( let i=0; i < locals.css.length; i++ ) { %>
            <link rel="stylesheet" href="<%= css[i] %>">
        <% } %>
    <% } %>
</head>

<body>
    <%- include ("navigation", {url:"/", src:"/img/svg/logo.svg", headline:"Eng TSM Bali", labels:["Air Handling Unit","Chiller Plan Control","About"], ids:["ahu","ch","about"], hrefs:["/ahu","/chill","/about"],
    icons:['ic-login','ic-login','ic-info'], iconMore:'ic-three-dot-menu'}) %>

    <div id="content">