@import '../../../lib/ether-m3/scss/utility/var';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    margin: auto;
    margin-top: var(--app-topbar-height);
    width: 100%;
    flex: 1;
    padding: 20px;
}


.footer {
    text-align: center;
    font-weight: 600;
}
